<header class="header">
    <div class="header-container">
      <img class="logo" src="./src/img/logo.webp" alt="balloon" width="70" height="50">
      <a class="logo-link hover" href="https://avia-masters.com/">
        <img class="logo-img" src="./src/img/logo.webp" alt="balloon" width="70" height="50">
    </a>

     <nav class="nav">
            <ul class="nav-list" >
                <li class="nav-item home" style="display: none;">
                    <a class="nav-link" href="https://avia-masters.com/">
                       Главная
                </a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="./zarabotat.html">
                      Как заработать
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./demo.html">
                    Демо
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="./casino.html">
              Казино
        </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="./prilozhenie.html">
              Приложение
        </a>
          </li>
                <li class="nav-item">
                    <a class="nav-link" href="./game.html">
                      Играть
                </a>
          </li>
        
            </ul>
     </nav>

     <button class="burger-btn" type="button" aria-label="Открыть меню">
      <span class="top-line"></span>
      <span class="middle-line"></span>
      <span class="bottom-line"></span>
    </button>

    </div>

    <nav class="nav-mob">
      <button class="nav-btn-close" aria-label="Закрыть меню">
        <svg width="24" height="24">
        <use href="./src/img/close_cross_icon_128690.svg#close"></use>
        </svg>
    </button>
    
    <ul class="nav-list-mob">
      <li class="nav-item-mob home" style="display: none;">
        <a class="nav-link-mob" href="https://avia-masters.com/">
          Главная
   </a>
      </li>
      <li class="nav-item-mob">
        <a class="nav-link-mob" href="./zarabotat.html">
          Как заработать
    </a>
      </li>
      <li class="nav-item-mob">
        <a class="nav-link-mob" href="./demo.html">
          Демо</a>
      </li>
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./casino.html">Казино</a>
      </li>
      
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./prilozhenie.html">Приложение</a>
      </li>
      <li class="nav-item-mob">
          <a class="nav-link-mob" href="./game.html">Играть</a>
      </li>
  </ul>
   </nav>

   
</header>
